html,
body,
div,
span,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
video {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: Arial, sans-serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    background-color: #f5f7fa;
}
article,
hgroup,
menu,
nav,
section,
aside,
details,
figcaption,
figure,
footer,
header {
    display: block;
}
nav ul,
ul,
li {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: none;
}
:root {
    --primary-color: #2460f2;
    // --primary-color: #fe9131;
    --swiper-theme-color: var(--primary-color);
}

a {
    text-decoration: none;
}

.text-ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
@mixin text-ellipsis($lines: 1) {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@for $i from 2 through 4 {
    .text-ellipsis-#{$i} {
        @include text-ellipsis($i);
    }
}
