<footer>
    <div class="container footer-link d-flex">
        <div class="left d-flex">
            <div class="public-title">
                <h3>友情链接</h3>
                <p>friendly link</p>
            </div>
            <ul class="d-flex align-items-center footer-link-wrapper">
                {ld:link name='link'}
                <li>
                    <a href="{$item.url}" target="{$item.target}">{$item.title}</a>
                </li>
                {/ld:link}
            </ul>
        </div>
        <div class="social"></div>
    </div>
    <div class="container">
        <div class="d-flex row">
            <div class="footer-menu col-md-8  d-none d-lg-block">
                <ul class="d-flex flex-1">
                    {ld:nav}
                    {if $item.child>0}
                    <li>
                        <dl>
                            <dt>{$item.name}</dt>
                            {ld:sort pid="$item['id']" alias="nav2"}
                            <dd>
                                <a href="{$nav2.url}"
                                title="{$nav2.name}">{$nav2.name}</a>
                            </dd>
                            {/ld:sort}
                        </dl>
                    </li>
                    {/if}
                    {/ld:nav}
                </ul>
            </div>
            <div class="footer-contact col-md-4">
                <p>{$ld.tel}</p>
                <p>{$ld.address}</p>
                <p>{$ld.email}</p>
                <div class="qrcodes d-flex">
                    {ld:slide name='qrcode'}
                    <div class="qrcode-img">
                        <img src="{$item.image}" alt="{$item.title}" />
                        <p>{$item.title}</p>
                    </div>
                    {/ld:slide}
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyriht">
    <div class="container">
        <p>
            {$ld.copyright}&nbsp;
            <a href="{:addon_url('ldcms/sitemap/index',[],false)}">Sitemap</a>

            <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow">{:__('ICP')}:{$ld.icp}</a>
        </p>
    </div>
</div>

<div id="backTop">
	{if $ld.phone}
  	<span class="ft-tel"><i class="fa fa-phone"></i><small class="telTop">{$ld.phone}</small></span>
	{/if}
	{if $ld.wechat}
  	<span class="ft-wx"><i class="fa fa-wechat"></i><small class="weixin"><b class="fa fa-caret-right"></b><img src="{$ld.wechat}" alt="{:__('ScanQRCode')}"></small></span>
	{/if}
	{if $ld.qq}
	<span class="ft-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin={$ld.qq}&site=qq&menu=yes" target="_blank" class="socialLink s-qq" rel="nofollow"><i class="fa fa-qq"></i></a></span>
	{/if}
	<span id="gttop" title="返回顶部"> <i class="fa fa-arrow-up"></i> </span>
</div>