<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{$ld.sitetitle}</title>
    <meta name="keywords" content="{$ld.seo_keywords}" />
    <meta name="description" content="{$ld.seo_description}" />
    <link rel="stylesheet" href="__ADDON__/libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="__ADDON__/libs/animate.min.css" />

    <link rel="stylesheet" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" media="screen" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="__ADDON__/libs/bootstrap/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="__ADDON__/ldcms2025/css/style.min.css" />

    <!-- 引入jQuery -->
    <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="__ADDON__/libs/wow.min.js"></script>
    <script src="__ADDON__/libs/swiper/swiper-bundle.min.js"></script>
    <script src="__ADDON__/libs/jquery.waypoints.min.js"></script>
    <script src="__ADDON__/libs/jquery.countup.min.js"></script>
    <script src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
    <script src="__ADDON__/libs/qrcode.js"></script>
    <script src="__ADDON__/ldcms2025/js/styles.js"></script>
</head>
<!--
* @Descripttion : LDCMS是一款高效的PHP多端跨平台内容管理系统
* @Author       : lande
* @Date         : 2025-01-01
-->