<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{$ld.sitetitle}</title>
    <meta name="keywords" content="{$ld.seo_keywords}" />
    <meta name="description" content="{$ld.seo_description}" />
    <!-- 简体中文特定Meta标签 -->
    <meta name="language" content="zh-cn" />
    <meta name="author" content="BiuBiuStar" />
    <!-- 简体中文字体优化 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{ld:src src='libs/swiper/swiper-bundle.min.css'}" />
    <link rel="stylesheet" href="{ld:src src='libs/animate.min.css'}" />

    <link rel="stylesheet" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" media="screen" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="{ld:src src='libs/bootstrap/bootstrap.min.css'}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{ld:src src='biubiustar2025/css/style.min.css'}" />
    <!-- 繁体中文专用样式 -->
    <link rel="stylesheet" href="{ld:src src='biubiustar2025zh-tw/css/simplified-chinese.css'}" />

    <!-- 引入jQuery -->
    <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{ld:src src='libs/wow.min.js'}"></script>
    <script src="{ld:src src='libs/swiper/swiper-bundle.min.js'}"></script>
    <script src="{ld:src src='libs/jquery.waypoints.min.js'}"></script>
    <script src="{ld:src src='libs/jquery.countup.min.js'}"></script>
    <script src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
    <script src="{ld:src src='libs/qrcode.js'}"></script>
    <script src="{ld:src src='biubiustar2025/js/styles.js'}"></script>
</head>
<!--
* @Descripttion : LDCMS是一款高效的PHP多端跨平台内容管理系统
* @Author       : lande
* @Date         : 2025-01-01
-->