<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{$ld.sitetitle}</title>
    <meta name="keywords" content="{$ld.seo_keywords}" />
    <meta name="description" content="{$ld.seo_description}" />
    <!-- 繁體中文特定Meta標籤 -->
    <meta name="language" content="zh-tw" />
    <meta name="author" content="BiuBiuStar" />
    <!-- 繁體中文字體優化 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="__ADDON__/libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="__ADDON__/libs/animate.min.css" />

    <link rel="stylesheet" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" media="screen" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="__ADDON__/libs/bootstrap/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="__ADDON__/ldcms2025/css/style.min.css" />
    <!-- 繁體中文專用樣式 -->
    <link rel="stylesheet" href="__ADDON__/ldcms2025zh-tw/css/traditional-chinese.css" />

    <!-- 引入jQuery -->
    <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="__ADDON__/libs/wow.min.js"></script>
    <script src="__ADDON__/libs/swiper/swiper-bundle.min.js"></script>
    <script src="__ADDON__/libs/jquery.waypoints.min.js"></script>
    <script src="__ADDON__/libs/jquery.countup.min.js"></script>
    <script src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
    <script src="__ADDON__/libs/qrcode.js"></script>
    <script src="__ADDON__/ldcms2025/js/styles.js"></script>
</head>
<!--
* @Descripttion : LDCMS是一款高效的PHP多端跨平台内容管理系统
* @Author       : lande
* @Date         : 2025-01-01
-->